!!!
%html
  %body
    %meta{charset: "utf-8", name: "viewport", content: "width=device-width, initial-scale=0.7"}

    %title Datenschutz
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}

    .div{style: 'font-size: 40px; color: grey; text-align: center; padding: 50px; margin-top: 50px;'}
      Einen fröhlichen 1.April
      wünscht euch die Telko-AG
      %br
      %img{src: 'april.jpg', style: 'height: 300px; margin-top: 20px;'}