!!!
%html
  %body
    %meta{:charset => "utf-8"}
    %title Your Title Here
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}
    #header
      %span.first-letter M
      %span OSTLYCOLORED
    #app

:javascript
  window.galleries = #{@galleries}

%script{src: 'bundle.js'}
