!!!
%html
  %body
    %meta{charset: "utf-8", name: "viewport", content: "width=device-width, initial-scale=1.2"}

    %title josch.space
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}

    #header
      %span.first-letter J
      %span OSCH.SPACE

    = yield
