html {
  background: black;
}

body {
  color: gray;
}

body:after {
  position: fixed;
  content: '';
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  background-image: url('bg.jpg');
  background-position: center bottom;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 1;
}

.login-container {
  text-align: center;
}

input {
  background-color: black;
  outline: none;
  margin: 5px;
  border: 1px solid darkslategray;
  border-radius: 4px;
  color: gray;
  width: 170px;
  text-align: center;
  height: 30px;  
}

.form-container input[type=submit] {
  height: 33px;
}

/* hidden delete button */
#hdndlt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 3px;
  background: darkslategray;
}

#disk-space {
  color: darkslategray;
  float: right;
  padding: 20px;
}

#header {
  text-align: center;  
}

#header span {
  font-family: "Arial Black", Gadget, sans-serif !important;
  font-size: 8vw;
  color: black;
  text-shadow: -1px 0 darkslategrey, 0 1px darkslategrey, 1px 0 darkslategrey, 0 -1px darkslategrey;
}

#header .first-letter {
  margin-right: -1vw;
  text-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 0 -1px purple;
}

* {
  font-family: "Courier New", Courier, monospace
}

.dropzone-container {
  padding: 20px;
  opacity: 0.75;
}

.filepicker {
  background: black !important;
  border-width: 1px !important;
}

.dz-preview, .dz-processing, .dz-success, .dz-complete, .dz-image-preview {
  background: none !important;
}

.dropzone .dz-preview .dz-image {
  width: 80px;
  height: 80px;
}

.form-container {
  padding: 20px;
  text-align: center;  
}

.gallery-link-container {
  padding: 20px;
  overflow: auto;
}

.gallery-link {
  border: 1px solid black;  
  float: left;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px; 
}

.gallery-link.locked {
  cursor: default;  
  color: #494949; /* very dark grey */
}

.gallery-link.active {
  border: 1px solid gray;
  border-style: 1px solidy gray;
}

.show-more {
  width: 100%;
  color: darkslategray;
  cursor: pointer;
  border-top: 1px solid #1d1d1d;
  clear: left;
  text-align: center;
}

.choose {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.choose > img {
  width: 500px;
  max-width: 100%;
}

.gallery-container {
  clear: both;
  padding-left: 20px;
  padding-right: 20px;
}

.edited-at {
  color: darkslategray;
}

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery > img {
  height: 100px;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 3px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 20px 5px black;
  -moz-box-shadow: 0px 0px 20px 5px black;
  box-shadow: 0px 0px 20px 5px black;
}

.gallery > img.active {
  width: 700px;
  max-width: 100%;
  height: auto;
}

.gallery > img:hover {
  -webkit-transform: scale(0.95);
  -mos-transform: scale(0.95);  
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.gallery > img.active:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.download-link {
  color: purple;
  cursor: pointer;
}
