body {
  background: black;
  color: gray;
}


#header {
  text-align: center;  
}

#header span {
  font-family: "Arial Black", Gadget, sans-serif !important;
  font-size: 8vw;
  color: black;
  text-shadow: -1px 0 darkslategrey, 0 1px darkslategrey, 1px 0 darkslategrey, 0 -1px darkslategrey;
}

#header .first-letter {
  margin-right: -1vw;
  text-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 0 -1px purple;
}

input {
  background-color: black;
  outline: none;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 4px;
  color: gray;
}

* {
  font-family: "Courier New", Courier, monospace
}

.dropzone-container {
  padding: 20px;
}

.filepicker {
  background: black !important;
  border-width: 1px !important;
}

.dz-preview, .dz-processing, .dz-success, .dz-complete, .dz-image-preview {
  background: none !important;
}

.dropzone .dz-preview .dz-image {
  width: 80px;
  height: 80px;
}

.form-container {
  padding: 20px;
  text-align: center;  
}

.form-container input[type=text] {
  text-align: center;
  height: 30px;
}

.form-container input[type=submit] {
  height: 33px;
}

.gallery-link-container {
  padding: 20px;
  overflow: auto;
}

.gallery-link {
  border: 1px solid black;  
  float: left;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px; 
}

.gallery-link.locked {
  cursor: default;  
  color: #494949; /* very dark grey */
}

.gallery-link.active {
  border: 1px solid gray;
  border-style: 1px solidy gray;
}

.choose {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.choose > img {
  width: 100%;
  max-width: 500px;
}

.gallery-container {
  clear: both;
  padding-left: 20px;
  padding-right: 20px;
}

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery > img {
  height: 100px;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 3px;
  border-radius: 4px;
}

.gallery > img.active {
 height: 500px; 
}

.gallery > img:hover {
  -webkit-transform: scale(0.95);
  -mos-transform: scale(0.95);  
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.gallery > img.active:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.download-link {
  color: purple;
  cursor: pointer;
}
